body {
	font-family: Verdana;
}

#grape {
	display: inline-block;
}

#logo {
	vertical-align: top;
	display: inline-block;
}

#language {
	display: inline-block;
	margin-left: 60%;
	font-size: 10;
}

#menu {
	
	background: rgba(24,102,15,1);
	background: -moz-linear-gradient(1deg, rgba(24,102,15,1) 0%, rgba(26,107,27,1) 37%, rgba(255,255,255,1) 38%, rgba(93,162,32,1) 40%, rgba(93,162,32,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(24,102,15,1)), color-stop(37%, rgba(26,107,27,1)), color-stop(38%, rgba(255,255,255,1)), color-stop(40%, rgba(93,162,32,1)), color-stop(100%, rgba(93,162,32,1)));
	background: -webkit-linear-gradient(1deg, rgba(24,102,15,1) 0%, rgba(26,107,27,1) 37%, rgba(255,255,255,1) 38%, rgba(93,162,32,1) 40%, rgba(93,162,32,1) 100%);
	background: -o-linear-gradient(1deg, rgba(24,102,15,1) 0%, rgba(26,107,27,1) 37%, rgba(255,255,255,1) 38%, rgba(93,162,32,1) 40%, rgba(93,162,32,1) 100%);
	background: -ms-linear-gradient(1deg, rgba(24,102,15,1) 0%, rgba(26,107,27,1) 37%, rgba(255,255,255,1) 38%, rgba(93,162,32,1) 40%, rgba(93,162,32,1) 100%);
	background: linear-gradient(1deg, rgba(24,102,15,1) 0%, rgba(26,107,27,1) 37%, rgba(255,255,255,1) 38%, rgba(93,162,32,1) 40%, rgba(93,162,32,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18660f', endColorstr='#5da220', GradientType=1 );

	border-radius: 10px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13;
	margin-left: 80px;
	box-shadow: 0px 0px 5px 5px #D1D1D1;
}

#menu tr td {
	padding-left: 15px;
	width: 172px;
	height: 36px;
	border-right: 1px dotted;
	border-bottom: 1px dotted;
}

#menu tr td:last-child {
	border-right: none;
}

#menu-2nd-row td {
	border-bottom: none !important;
}

#menu-2nd-row td:last-child {
	background-color: red;
	border-bottom-right-radius: 10px;
}

header {
	box-shadow: 0 10px 6px -6px #D1D1D1;
	padding-bottom: 40px;
}

/*content - search*/
#search {
	display: block;
	padding-left: 10px;
}

#line {
	width: 100%;
	font-size: 1px;
	color: #01DB2C;
	line-height: 2px;
	background-color: #01DB2C;
	margin-top: 3%
}

.cb-gender {
	display: inline-block;
	margin-top: 1%;
	margin-right: -6px;
}

.gender-choice {
	font-size: 12px;
	font-weight: bold;
	width: 6%;
	display: inline-block;
}

#search-label {
	width: 25%;
	float: left;
}

#search-text {
	width: 63%;
	border: 2px ridge;
}
 #search-box {
 	background: rgba(236,230,207,1);
	background: -moz-linear-gradient(3deg, rgba(236,230,207,1) 0%, rgba(236,230,207,1) 24%, rgba(244,242,230,1) 25%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(236,230,207,1)), color-stop(24%, rgba(236,230,207,1)), color-stop(25%, rgba(244,242,230,1)));
	background: -webkit-linear-gradient(3deg, rgba(236,230,207,1) 0%, rgba(236,230,207,1) 24%, rgba(244,242,230,1) 25%);
	background: -o-linear-gradient(3deg, rgba(236,230,207,1) 0%, rgba(236,230,207,1) 24%, rgba(244,242,230,1) 25%);
	background: -ms-linear-gradient(3deg, rgba(236,230,207,1) 0%, rgba(236,230,207,1) 24%, rgba(244,242,230,1) 25%);
	background: linear-gradient(3deg, rgba(236,230,207,1) 0%, rgba(236,230,207,1) 24%, rgba(244,242,230,1) 25%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ece6cf', endColorstr='#f4f2e6', GradientType=1 );

	border-radius: 10px;
	padding: 10px;
 }

 #search-button {
 	background: rgba(43,158,15,1);
	background: -moz-linear-gradient(5deg, rgba(43,158,15,1) 0%, rgba(43,158,15,1) 47%, rgba(148,204,134,1) 47%, rgba(126,196,46,1) 63%, rgba(126,196,46,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,158,15,1)), color-stop(47%, rgba(43,158,15,1)), color-stop(47%, rgba(148,204,134,1)), color-stop(63%, rgba(126,196,46,1)), color-stop(100%, rgba(126,196,46,1)));
	background: -webkit-linear-gradient(5deg, rgba(43,158,15,1) 0%, rgba(43,158,15,1) 47%, rgba(148,204,134,1) 47%, rgba(126,196,46,1) 63%, rgba(126,196,46,1) 100%);
	background: -o-linear-gradient(5deg, rgba(43,158,15,1) 0%, rgba(43,158,15,1) 47%, rgba(148,204,134,1) 47%, rgba(126,196,46,1) 63%, rgba(126,196,46,1) 100%);
	background: -ms-linear-gradient(5deg, rgba(43,158,15,1) 0%, rgba(43,158,15,1) 47%, rgba(148,204,134,1) 47%, rgba(126,196,46,1) 63%, rgba(126,196,46,1) 100%);
	background: linear-gradient(5deg, rgba(43,158,15,1) 0%, rgba(43,158,15,1) 47%, rgba(148,204,134,1) 47%, rgba(126,196,46,1) 63%, rgba(126,196,46,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b9e0f', endColorstr='#7ec42e', GradientType=1 );

	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;
	font-weight: bold;
	border: none;
	border-radius: 2px;
 }

 #select-age {
 	width: 15%;
 	margin-left: 3%;
 	border: 2px ridge;
 }

 #select-city {
 	width: 20%;
 	border: 2px ridge;
 }

#content {
	width: 65%;
	display: inline-block;
}

#new-photos {
	margin-left: 10px;
}

.user-img {
	height: 100px;
	width: 100px;
	display: inline-block;
}

.user-img img {
	margin-left: 11.5px;
	margin-right: 11.5px;
}

.user-img p {
	text-align: center;
	margin-top: 0px;
	font-size: 13px;
	color: #007F7E;
}

h2 {
	color: #813F40;
	font-weight: lighter;
}

#new-photos p {
	display: inline-block;
	margin-left: 86%;
	margin-top: 0px;
	color: #00807F;
	font-size: 12px;
	font-weight: bold;
}

#new-people {
	margin-left: 10px;
}
/*content - right bar*/
#right-bar {
	width: 33%;
	display: inline-block;
	margin-left: 1%;
}

h3 {
	color: #808080;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
}

#login-box {
	font-size: 15px;
	padding-left: 80px;
	border-color: #C6C6C6;
	border-radius: 10px;
	border: 1px solid;
	padding-top: 10px;
	margin-right: 20px;
}

.align-right {
	text-align: right;
}

#log-mail {
	width: 190px;
}

#forgot-pass {
	color: #008081;
	font-size: 12px;
	padding-left: 15px;
}

#auto-login {
	margin-left: 10px;
}

#auto-login-label {
	font-size: 13px;
}

#login-button-td {
	text-align: right;
}

#login-button {
	width: 110px;
}

#w-gronie-mozesz {
	margin: 0px;
}

ul {
	margin-left: -20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.left-bar-p {
	margin-top: 5px;
	margin-bottom: 0px
}

.blue {
	color: #007F7E;
}

#zgubione {
	margin-left: 20px;
}

#grona-list {
	list-style-type: none;
	padding-left: 20px;
}
#grona-list li {
	color: #007F7E;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
}